@media screen and (min-width: 601px) {
    body, html{
        background-color: var(--cor3);
        background: url(./img/patas.jpg);
        display: flex;
        width: 100vw;
        height: 100vh;
        
    }

    /*CSS página 1*/

.main-1{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--cor1);
    justify-content: center;
    margin: auto;
}

.titulo-1{
    font-size: 5em;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.445);
}

.main-1 > a{
    text-decoration: none;
}

.titulo-1:hover{
    color: #31bc8c;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.445);
}
.salsicha{

    margin: 30px 25% 0px 25%;
    
}

/*CSS página 2*/

.main-2{
    display: inline-block;
    background: linear-gradient(-122deg, #ffcd05e8 30%, #31bc8be8 30%);
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    margin: auto;
}

.titulo{
    display: inline-block;
    float: right;
    font-family: var(--font1);
    color: var(--cor3);
    font-size: 2.5em;
    text-align: right;
    padding: 20px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.295);
}

.txt{
    text-align: center;
    color: white;
    font-size: 1.5em;
    display: inline-block;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.295);
}  

.txt > p{
    width: 95vw;
    letter-spacing: 4px;
    padding: 10px 0px 10px 20px;
}

.txt > p > a{
    color: white;
}

div > img{
    display: inline-block;
    display: inline;
    margin: auto;
    left: 25%;
}
/*CSS página 3*/

section{
    box-sizing: border-box;
    height: 100%;
    background-color: var(--cor1);
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.titulo-3{
    margin: 30px auto;
    color: white;
    font-family: var(--font1);
    font-size: 2.8em;
    text-align: center;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.295);
}

menu{
    margin: 20px;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

menu > ul > li{
    
    display: inline-block;
    padding: 20px;
    list-style: none;
    border-radius: 10px;
    background-color: #31bc8c;
    transition: .2s;
}

menu > ul > li:hover{
    background-color: #1f7557;
    cursor: pointer;
}

menu, a{
    font-family: var(--font0);
    color: white;
    text-decoration: none;
    margin: auto;
   
}

span#burguer{
    display: none;
}

section img{
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    margin-left: 40%;
}

.voltar{
    color: #31bc8c;
    font-size: 1.3em;
    padding: 25px;
    text-align: end;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.295);
}
}